<div class="modal" title="">
	<ion-header-bar class="bar color-custom">
      <button class="button button-icon icon ion-android-close font-custom" ng-click="closeModal()"></button>
      <h1 class="title font-custom">{{modalTitle}}</h1>
    </ion-header-bar>
    <ion-content class="padding">
    	<form>
			<div class="list">
				<label class="item item-input">
					<input type="text" placeholder="Car Name"/>
				</label>
				<label class="item item-input">
					<input type="text" placeholder="Transition"/>
				</label>
			</div>
			<div class="padding">
				<button type="submit" class="button color-custom2 font-custom2 title button-block">Save Car</button>
			</div>
		</form>
  	</ion-content>
</div>