<ion-view view-title="Accept Request">
      <ion-header-bar class="bar color-custom">
      <h1 class="title font-custom">ACCEPT AND REQUEST</h1>
    </ion-header-bar>
    <ion-content>
      <div class="list">
        <a class="item item-avatar item-icon-right" href="#">
          <img src="img/person-icon.png">
          <h2>Kerete Sewa SDK</h2>
          <p>+6012 455 789</p>
          <button class="button button-icon icon ion-android-call"></button>
        </a>
      </div>
    </ion-content>
    <div class="bar bar-footer add_footer">
      <a class="button button-icon icon ion-android-add-circle pull-right add"></a>
    </div>
</ion-view>
    
