<ion-view view-title="Inbox" ng-init="list()">
    <ion-content class="bg-custom">
     <!-- <ion-list show-delete="false" can-swipe="true" ng-repeat="(key, msg) in inbox">
        <ion-item ng-click="" class="item-avatar">
          <img src="img/person-icon.png">
          <h2 style="text-transform:uppercase">{{msg.car_name}}</h2>
          <p>{{msg.msg}}</p>
          <div align="right" class="two-button">
          <button class="button button-clear button-balanced">ACCEPT</button>
          <button class="button button-clear button-assertive">DECLINE</button>
          </div>
        </ion-item>
      </ion-list> -->
      <ion-list>
        <ion-item class="item-avatar">
          <img src="img/person-icon.png">
          <h2>Amran</h2>
          <p>Request Saga Auto</p>
          <div align="right" class="two-button">
          <button class="button button-clear button-balanced">ACCEPT</button>
          <button class="button button-clear button-assertive">DECLINE</button>
          </div>
        </ion-item>
      </ion-list>
    </ion-content>
</ion-view>