<ion-view view-title="Notification">
    <ion-header-bar class="bar color-custom">
      <h1 class="title font-custom">NOTIFICATION</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item class="item-avatar item-icon-right">
          <img src="img/person-icon.png">
          <h2>Amran</h2>
          <p>Request Saga Auto</p>
          <button class="button button-icon icon ion-checkmark-circled"></button>
        </ion-item>
      </ion-list>
    </ion-content>
</ion-view>